@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>Sample API query</h3>

        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>Query</td>
                    <td>Description</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a href="http://localhost:51932/api/profile/a111222a/connections" target="_blank">
                            http://localhost:51932/api/profile/a111222a/connections
                        </a>
                    </td>
                    <td>
                        Get list of social connections for default client with id "a111222a"
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
